body{
    background-color: rgb(65, 0, 0);
}

h1{
    color: rgba(255, 255, 255, 0.925);
    font-family: 'Times new roman';
    text-align: center;
    font-size: 78px;

}

h2{
    color: rgb(116, 116, 116);
    font-family: 'Times new roman';
    text-align: justify;
    font-size: 40px;
    margin: 35px;

}

h3{
    color: rgb(207, 147, 147);
    font-family: 'Times new roman';
    text-align: justify;
    font-size: 35px;
    margin: 35px;

}

h4{
    color: rgb(116, 116, 116);
    font-family: 'Times new roman';
    text-align: justify;
    font-size: 30px;
    margin: 35px;

}

p{
    color: rgb(255, 255, 255);
    font-size: 37px;
    text-align: justify;
    line-height: 1.5;
    margin: 35px;
    
}

h5{
    color: rgb(207, 147, 147);
    font-size: 37px;
    text-align: justify;
    line-height: 1.5;
    margin: 35px;
    
}

div{
    margin: 35px;
    color: rgb(218, 135, 135);
    font-family: 'Times new roman';
}